
#tabular {
	display: table;
	}
.row {display: table-row;}
.cell {
		display: table-cell;
		margin: 2px;
	}
.header  {
	border: 1px solid black;
	padding: 5px;
}
    h1 {
        border: 1px solid #ccc;
        color: #f00;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: black;
      }
	 .reportDate	{
		 display: none;
	 }

@media print {
 /*  Your notes  */
 @page { margin: 2cm }
 
	body {
		font: 13pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}
	
	h1 {
		font-size: 24pt;
	}

	h2, h3, h4 {
		font-size: 14pt;
		margin-top: 25px;
	}
	
	nav, button, select, .dater  {
		display: none;
	}
	.reportDate	{
		display: block;
	}
}