.row 	{
	 display: inline-block;
	 padding: 5px 0px, 0px 2px;
	 margin: 5px;
}
ul   	{
	list-style: none;
}
.line	{
	border-bottom: 1px solid black;
}
.header	{
	border: 1px solid black;
}
span	{
	padding: 5px 0px 0px, 2px;
	margin: 5px;
}